*.vim
*.swp
.ccls-cache/
*.o
test_tcp_sock_handler
compile_commands.json
tags
*.so
simple_client
simple_server
.gdb_history
.DS_Store
test/test_simple_client_server
test/test_tcp_send
test/test_simple_udp_conn
test/test_udp_setup
